body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1E3A5F;
  color: white;
}

header {
  background-color: #1E3A5F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 3px solid #FFD700;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 span {
  color: #FFD700;
}

.btn {
  background-color: #FFD700;
  color: #1E3A5F;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: #1E3A5F;
}


.coaching-section {
  text-align: center;
  padding: 50px 20px;
}

.coaching-section h2 {
  font-size: 36px;
  color: #FFD700;
  margin-bottom: 40px;
}

.coachings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.coaching-card {
  background-color: #1E3A5F;
  border: 2px solid #FFD700;
  border-radius: 12px;
  width: 300px;
  padding: 20px;
  color: white;
  transition: transform 0.3s;
}

.coaching-card:hover {
  transform: scale(1.05);
}

.coaching-card h3 {
  color: #FFD700;
  margin-bottom: 10px;
}

.coaching-card p {
  font-size: 16px;
  line-height: 1.5;
}
